<%
	#Expected Passed-in Parameters Below
	data=data

	#Calculate Useful Variables
	tenant_info=data
	quotas_origin=Yajl::load(data[:registry_settings][0][:settings])
	
	who='applicant'	
%>

<div class="top-spacer"></div>

<div id="tenant-opt-dialog" class="dialog tenant-opt-dialog">
	<legend>Create Project</legend>

	<%=erb :tenant_options, :locals => {
		:who=>who, 
		:review=>false, 
		:tenant_info=>tenant_info, 
		:quotas_origin=>quotas_origin,
		:quotas_prev=>nil
	} %>
	
	<div class="action">
		<button class="accept btn btn-success to-right">Submit</button>
		<img class="hidden loading to-right" src="/images/loading.gif"  alt="" />
		<div class="clear-float"></div>
	</div>
				
</div>

<script type="text/javascript">

$(document).ready(init);

function init(){
	initAcceptAction();
}

function initAcceptAction(){
	$('#tenant-opt-dialog .action button.accept').click(function(){
		$.noty.closeAll();

		$('#tenant-opt-dialog .action button.accept').text("Loading ...");
		$('#tenant-opt-dialog .action button').attr('disabled', 'true');
		$('#tenant-opt-dialog .action img.loading').show();

		var url='/v1/applications';
		data=$.toJSON(tenantOpts.getData());

		$.post(url, data, 'json').done(function(data){
			setTimeout(function(){
				data = $.parseJSON(data);

				if(data.status&&data.status=='error'){
					noty({text: 'Failed to Submit: '+(data.message?data.message:'Unknown Error'), type:'error'});
					
					$('#tenant-opt-dialog .action img.loading').hide();
					$('#tenant-opt-dialog .action button').removeAttr('disabled');
					$('#tenant-opt-dialog .action button.accept').text('Submit');

				}else{
					noty({text: 'Successfully Submitted Your Request! You May CLOSE the Window Now.', type:'success'});
					
					$('#tenant-opt-dialog .action img.loading').hide();
					$('#tenant-opt-dialog .action button.accept').text("Complete");
				}

			}, 2000);
		}).fail(function(){
			setTimeout(function(){
				noty({text: 'Failed to Submit: Server Error. You May Retry Later.', type:'error'});
				
				$('#tenant-opt-dialog .action img.loading').hide();
				$('#tenant-opt-dialog .action button').removeAttr('disabled');
				$('#tenant-opt-dialog .action button.accept').text('Submit');
			}, 2000);

		});//end of fail()

	});//end of click()
}

</script>