<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">    
    <link rel="stylesheet" type="text/css" href="/common.css">
    <script src="/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/noty/js/jquery.noty.js"></script>
    <script type="text/javascript" src="/noty/js/layouts/top.js"></script>
    <script type="text/javascript" src="/noty/js/layouts/topLeft.js"></script>
    <script type="text/javascript" src="/noty/js/layouts/topRight.js"></script>
    <script type="text/javascript" src="/noty/js/layouts/topCenter.js"></script>
    <script type="text/javascript" src="/noty/js/themes/default.js"></script>
  </head>
  <body>
    <div class="container">
    <%=yield %>
    </div>

  </body>
</html>