<div id="reject-dialog" class="dialog comment-dialog reject-dialog modal hide" tabindex="-1" role="dialog" aria-labelledby="Rejection Comment" aria-hidden="true">
	<legend>Comment</legend>
	<textarea name="comment" placeholder="Put your comment for rejection here ..."></textarea>

	<div class="action">
		<button class="confirm btn btn-primary to-right">Confirm</button>
		<button class="cancel btn to-left">Cancel</button>
		<div class="clear"></div>
	</div>
</div>