
<div class="bordered optDialog">
	<legend>Review Project Request</legend>

	<%=erb :show, :locals => {:data=>data, :readonly=>true} %>
	
	<div class="optAction" id="optAction">
		<button id="optAccept" type="button" class="btn btn-success toRight" 
			data-loading-text="Loading ...">
			Accept
		</button>
		<button id="optReject" type="button" class="btn btn-warning toRight" 
			data-loading-text="Loading ...">
			Reject
		</button>
		<img class="loadingIcon toRight" id="optActionLoadingIcon" src="/images/loading.gif"  alt="" />
		<button id="optBack" type="button" class="btn toRight">Back</button>
		<div class="clear"></div>
	</div>
				
</div>

<div id="rejectCommentDialog" class="bordered rejectCommentDialog modal hide" tabindex="-1" role="dialog" aria-labelledby="Rejection Comment" aria-hidden="true">
	<legend>Comment</legend>

	<textarea name="rejectCommentText" placeholder="Put your comment for rejection here ..."></textarea>

	<div class="rejectCommentAction">
		<button id="rejectCommentConfirm" type="button" class="btn btn-primary toRight">Confirm</button>
		<button id="rejectCommentBack" type="button" class="btn toRight">Back</button>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(init);

	function init(){
		initOptActions();
		initRejectCommentDialogActions();
	}

	function initOptActions(){
		$('#optBack').hide();
		$('#optBack').click(function(){
			window.location='/v1/applications';
		});

		$('#optAccept').click(function(){
			$.noty.closeAll();
			handleActionClick('accept', null);
		});
		$('#optReject').click(function(){
			$.noty.closeAll();
			$('#rejectCommentDialog').modal();
		});
	}

	function initRejectCommentDialogActions(){

		$('#rejectCommentBack').click(function(){
			$('#rejectCommentDialog').modal('hide');
		});

		$('#rejectCommentConfirm').click(function(){
			$('#rejectCommentDialog').modal('hide');

			var data={
				comments: $('textarea[name=rejectCommentText]').val()
			};
			data=$.toJSON( data );

			handleActionClick('reject', data);			
			
		});

	}

	function handleActionClick(which, dataToSend){
		actionBtnToLoading(which);
		var url='/v1/applications/'+'<%=data[:id]%>'+'/'+((which=="accept")?"approve":"refuse");
		$.post(url, dataToSend, 'json').done(function(data){
			data = $.evalJSON(data);
			if(data.status&&data.status=='error'){
				//server returned error
				noty({text: 'Failed to Submit Your Decision: '+(data.message?data.message:'Unknown Error'), type:'error'});
				actionBtnToReady();
			}else{
				noty({text: 'Successfully Submitted Your Decision!', type:'success'});
				actionBtnToComplete(which);
			}
		}).fail(function(){
			noty({text: 'Failed to Submit Your Decision: Connection Error. You May Retry Later.', type:'error'});
			actionBtnToReady();
		});
		
	}

	function actionBtnToLoading(which){
		if(which=="accept"){
			$('#optAccept').button("loading");
		}else if(which=="reject"){
			$('#optReject').button("loading");
		}else{
			throw "This statement should never be reached!"
		}
		
		$('#optAccept').attr('disabled', 'true');
		$('#optReject').attr('disabled', 'true');
		
		$('#optActionLoadingIcon').show();
	}

	function actionBtnToReady(){
		$('#optAccept').button('reset');
		$('#optReject').button('reset');
		
		$('#optReject').removeAttr('disabled');
		$('#optAccept').removeAttr('disabled');
		
		$('#optActionLoadingIcon').hide();
	}

	function actionBtnToComplete(which){
		$('#optAccept').attr('disabled', 'true');
		$('#optReject').attr('disabled', 'true');
		$('#optActionLoadingIcon').hide();

		if(which=="accept"){
			$('#optAccept').text("Completed");
		}else if(which=="reject"){
			$('#optReject').text("Complete");
		}else{
			throw "This statement should never be reached!"
		}

		$('#optBack').show();
	}

</script>
